@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding:0;
    margin:0;
    text-decoration: none;
}

body{
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

li::marker {
    content: "";
  }

a{
    color: inherit;
}

.bold{
    font-weight: 600;
}

h1{
    font-size: 40pt;
    padding-top: 80px;
}

h2{
    font-weight:300;
}

h3{
    font-size: 25pt;
    font-weight: 500;
    margin-bottom: 30px;
}

h4{
    margin: 20px 0 10px 0;
}
 
header{
    width: 100%;
    padding: 40px 0 10px 0;
    background-color: #ffffffde;
    z-index: 999;
}

header nav ul{
    margin: 20px 0;
}

header nav ul li{
    display: inline-block;
    margin: 0 50px;
    font-size: 10pt;
    font-weight: 700;
}

header img{
    width: 120px;
}

.homePageImg{
    height: 87vh;
    background-size:cover;
    background-image: url("../assets/homePageImg.jpg");
}

.accesoriosImg{
    height: 87vh;
    background-size:cover;
    background-image: url("../assets/accesoriosImg.jpg");
}

.nosotrosImg{
    height: 87vh;
    background-size:cover;
    background-image: url("../assets/nosotrosImg.jpg");
}

.modelosImg{
    height: 87vh;
    background-size:cover;
    background-image: url("../assets/modelosImg.jpg");
}

.strip{
    padding: 20px 0;
    text-align: left;
    align-items: center;
    color: white;
    background-color: #272727;
}

section .textoDestacado{
    font-weight: 700;
    font-size: 20pt;
    width: 70%;
    padding-left: 10%;
    display: inline-block;

}

section .clickAqui{
    border: 2px solid ;
    border-radius: 10px;
    display: inline-block;
    padding: 10px 40px;
}

section .verMas{
    border: 2px solid;
    border-radius: 10px;
    display: inline-block;
    padding: 5px 40px;
    margin-top: 20px;
}

.cards{
    width: 80%;
    margin: 0 auto;
}

.cards .card{
    max-width: 40%;
    margin: 0 5%;
    text-align: left;

}
.cards .card img{
    width: 100%;
    border-radius: 10px;
 }

 .novedades{
    padding: 70px 0;
 }

 .destacado{
    background-color: #727272;
    text-align: center;
    align-items: center;
    padding: 70px 25%;
    color: white;

 }

 .destacado h3{
    font-size: 40pt;
    font-weight: 700;
    margin-bottom: 30px;
 }

 .destacado p{
    font-size: 25pt;
    font-weight: 300;
 }

 .destacado .clickAqui{
    margin-top: 40px;
 }

.newsletter{
    display:  flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 40px 0;
    color: #272727;
}

.newsletter h2{
    width: 60%;
    text-align: left;
}

.newsletter input{
    width: 30%;
    border: none;
    border-bottom: 2px solid black;
}

footer{
    padding: 40px 0;
    background-color: #eeeeee;
}

footer nav{
    width: 80%;
    margin: 0 auto;
}

footer nav > div{
    padding: 20px 3%;
    text-align: left;
    width: 15%;
    display: inline-block;
}

footer nav > div h3{
    margin-bottom: 10px;
}

nav p, li{
    font-size: 12px;
    margin-bottom: 2px;
}

footer nav .logo img{
    max-width: 60%;
}

footer nav .logo p{
    margin-top: 10px;
}

footer nav .redesSociales i{
    margin: 5px;
}

.modelos{
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
}

.modelos div{
    width: 24%;
    display: inline-block;
}

.modelos img{
    width: 60%;
}

.accesorios div{
    display: inline-block;
}