.objectFitCover {
    object-fit: cover;
}

.card-img-top{
  filter: grayscale(0%);
  transition: all 0.3s ease-in-out;


  &:hover{
    filter: grayscale(65%);
    transition: all 0.3s ease-in-out;
  }
}

@media screen and (max-width: 765px) {
  .card-img-top{
    filter: grayscale(0%);
  }
}