$color-primario:#292929;
$color-secundario: #444444;
$color-terciario: #727272;
$color-footer: #F5F5F5;

$color-texto: #292929;
$color-blanco: white;

$tipografia: montserrat;

$grosor-fuente:(
    thin: 100,
    light: 300,
    regular: 500,
    bold: 700,
    black: 900,
);

$tamano-fuente:(
    9: 9pt,
    10: 10pt,
    11: 11pt,
    12: 12pt,
    15: 15pt,
    20: 20pt,
    22: 22pt,
);